<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <title>게시글 조회</title>
</head>
<body>
<section layout:fragment="content">
    <h2>게시글 조회</h2>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.boardId}"></td>
            <td><a th:href="@{/board/detail/{id}(id=${board.boardId})}"><span
                    th:text="${board.title}"></span></a></td>
            <td th:text="${board.memberId}"></td>
            <td th:text="${board.createdDate}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>