<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <title>글 수정</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <form action="/board/modify" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" id="boardId" th:field="*{board.boardId}"/>
                <input type="hidden" id="memberId" th:field="*{board.memberId}"/>
                <input type="hidden" id="content" th:field="*{board.content}"/>
                <table>
                    <tr>
                        <td><label for="categoryId">분류</label></td>
                        <td>
                            <select id="categoryId" th:field="*{board.categoryId}">
                                <option th:each="category : ${categorys}" th:value="${category.value}"
                                        th:text="${category.displayName}">
                                    categoryId
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="title">제목</label></td>
                        <td><input type="text" id="title" th:field="*{board.title}" placeholder="제목을 입력하세요"></td>
                    </tr>
                    <tr>
                        <td><label for="memberName">작성자</label></td>
                        <td><input type="text" id="memberName" th:field="*{board.memberName}" disabled></td>
                    </tr>
                    <tr>
                        <td><label>이미지파일</label></td>
                        <td>
                            <img th:width="200" th:height="200" th:each="image : ${images}"
                                 th:src="@{'/hanuri' + ${image.getSrc()}}" th:alt="${image.getOriginalFileName()}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="files">파일수정</label></td>
                        <td><input id="files" type="file" name="files" multiple="multiple"/></td>
                    </tr>
                </table>
            </div>
            <div id="editor"></div>
            <button type="submit">수정</button>
        </form>
    </div>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const content = document.querySelector("#content").value;
        const editor = new toastui.Editor({
            el: document.querySelector("#editor"),
            height: "auto",
            hideModeSwitch : true,
            initialEditType: "markdown",  // "wysiwyg"으로 변경 가능
            previewStyle: "vertical",
            initialValue: [[content]]
        });

        document.querySelector("form").addEventListener("submit", function () {
            document.querySelector("#content").value = editor.getMarkdown();  // 마크다운 형태로 저장
        });
    </script>
</section>
</body>
</html>