<!DOCTYPE html>
<html>
<head>
    <title>글 수정</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <style>
        #contentView {
            border-top: 1px solid;
            border-bottom: 1px solid;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="detailmain">
    <form action="/board/modify" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" id="boardId" th:field="*{board.boardId}"/>
            <input type="hidden" id="memberId" th:field="*{board.memberId}"/>
            <input type="hidden" id="content" th:field="*{board.content}"/>
            <table>
                <tr>
                    <td><label for="categoryId">분류</label></td>
                    <td>
                        <select id="categoryId" th:field="*{board.categoryId}" disabled>
                            <option th:each="category : ${categories}" th:value="${category.value}"
                                    th:text="${category.displayName}">
                                categoryId
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="title">제목</label></td>
                    <td><input type="text" id="title" th:field="*{board.title}" disabled></td>
                </tr>
                <tr>
                    <td><label for="memberName">작성자</label></td>
                    <td><input type="text" id="memberName" th:field="*{board.memberName}" disabled></td>
                </tr>
                <tr>
                    <td><label>이미지파일</label></td>
                    <td>
                        <img th:width="200" th:height="200" th:each="image : ${images}"
                             th:src="@{'/hanuri' + ${image.getSrc()}}" th:alt="${image.getOriginalFileName()}"/>
                    </td>
                </tr>
            </table>
        </div>
        <div id="contentView"></div>
    </form>
</div>
</body>
</html>