<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>subjectList</title>
</head>
<body>
<!-- Page Header-->
<div th:include="~{/layout/header}"></div>
<!-- Main Content-->
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>과목명</th>
        <th>학년</th>
        <th>학기</th>
        <th>교수명</th>
        <th>강의 개설 여부</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="subject : ${subjects}">
        <td th:text="${subject.subjectCode}"></td>
        <td th:text="${subject.subjectName}"></td>
        <td th:text="${subject.grade}"></td>
        <td th:text="${subject.semester}"></td>
        <td th:text="${subject.professor}"></td>
        <td th:text="${subject.studyOpened} ? '개설됨' : '미개설'"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Footer-->
<div th:include="~{/layout/footer}"></div>
</body>
</html>
