
<footer class="footer">
    <div class="inner header-inner">
        <div class="footer-left">
            <span>한우리</span>
            <span class="line" ></span>
            <span>재학생 대표 : 진주영</span>
            <span class="line" ></span>
            <span>주소 : 서울특별시 영등포구 신길동 342-134</span>
            <em>© 2024 커넥팅, Inc. All rights reserved.</em>
        </div>
        <ul class="sns-wrap">
            <li><a href="#" class="kakao"><img th:src="@{/image/kakao.svg}" alt="카카오 로고"/></a></li>
        </ul>
    </div>
</footer>
