/* 소개 섹션 */
.intro-section {
    width: 100%;
    background: url(../image/sebpage_intro.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.intro-section h2{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
}
.intro-section p {
    color: #fff;
    line-height: 1;
}
.main-section {
    width: min(1200px, 100% - 2rem);
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    gap: 100px;
}
.main-title{
    width: 14.17%;
}
.main-section h3{
    font-size: 30px;
    font-family: "Ubuntu", serif;
    font-weight: 600;
    line-height: 1;
    position: relative;
    display: inline-block;
}
.main-section h3:after{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ff6600;
    content: '';
    top: 0;
    right: -15px;
}
.main-textbox{
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex: 1;
}
.main-textbox em{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;

}
.main-textbox ol{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}
.main-textbox ol li span{
    display: inline-flex;
    margin-right: 5px;
    font-weight: 600;
}
.main-textbox .main-imagebox {
    width: 100%;
    background: url(../image/activity.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.main-textbox .main-imagebox2{
    background: url(../image/activity2.jpg) center center no-repeat;
    background-size: cover;
}
/* 오시는길 섹션 */
.findus-section {
    width: 100%;
    background: url(../image/sebpage_intro2.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.findus-article{
    width: min(1200px, 100% - 2rem);
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.findus-content{
    display: flex;
    gap: 100px;
    flex: 1;
}
.findus-content h3{
    font-size: 30px;
    font-family: "Ubuntu", serif;
    font-weight: 600;
    line-height: 1;
    position: relative;
    display: inline-block;
}
.findus-content h3:after{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ff6600;
    content: '';
    top: 0;
    right: -15px;
}
.findus-content ul{
    flex: 1;
}
.findus-content ul li{
    border-bottom: 1px solid #ddd;
    padding-block: 20px;
    display: flex;
    align-items: center;
}
.findus-content ul li:first-child{
    padding-top: 0;
}
.findus-content ul li span{
    font-weight: 600;
    width: 70px;
    display: inline-flex;
}
.findus-content ul li p {
    margin-right: 10px;
}
.findus-content ul li p em{
    display: inline-flex;
    background: #717617;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}
.findus-content ul li a {
    color: #ff6600;
}
.findus-content ul li p em.blue{
    background: #00AEAB;
    width: 30px;
    border-radius: 5px;
}
.findus-content ul li p em.purple{
    background: #7182F5;
    width: 30px;
    border-radius: 5px;
}
.findus-content ul li p em.green{
    background: #5FB73C;
    width: 30px;
    border-radius: 5px;
}
/* 문의하기 */
.contact-section{
    width: 100%;
    background: url(../image/sebpage_intro2.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contact-info{
    width: min(800px, 100% - 2rem);
    margin: 70px auto 0;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    border-top: 5px solid #ff6600;
}
.contact-info:last-child{
    margin-top: 40px;
}
.contact-info em{
    font-size: 18px;
    font-weight: 600;
}
.contact-info ul{

}
.contact-info ul li{
    position: relative;
    padding-left: 15px;
    line-height: 1;
    margin-top: 15px;
}
.contact-info ul li:after{
    position: absolute;
    width: 5px;
    height: 5px;
    background:#ff6600;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 50%;
}
.contact-info ul li span{
    font-weight: 600;
}
.contact-info p{
    line-height: 1;
    margin-top: 15px;
}
@media (max-width: 625px) {
    .intro-section h1 {
        font-size: 50px;
    }

    .intro-section p {
        font-size: 18px;
        max-width: 100%;
    }

    .intro-section a {
        padding: 12px 24px;
        font-size: 0.9rem;
    }

    .main-section {
        width: 90%;
        padding-top: 50px;
    }

    .study {
        flex-direction: column;
        align-items: center;
    }

    .main-left {
        width: 70%;

    }

    .main-right {
        width: 100%;
        font-size: 18px;
    }

    .study-intro > h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .card-container {
        gap: 20px;
        padding: 40px 10px;
    }

    .card {
        padding: 20px;
        min-width: 200px;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card a {
        font-size: 0.8rem;
    }
}