<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanuri.website.dao.MemberMapper">
    <!--데이터 전체 조회-->
    <select id="findAll" resultType="hanuri.website.dto.Member">
        select * from member
    </select>
    <!--데이터 조회(name)-->
    <select id="findById" parameterType="string" resultType="hanuri.website.dto.Member">
        select * from member where id = #{id} limit 1
    </select>
    <!--데이터 조회(name)-->
    <select id="findBySeq" parameterType="int" resultType="hanuri.website.dto.Member">
        select * from member where seq = #{seq}
    </select>
    <!--데이터 입력-->
    <insert id="save" parameterType="hanuri.website.dto.Member" useGeneratedKeys="true" keyProperty="seq">
        insert into member(id,name,gender,phone_number,grade) values(#{id},#{name},#{gender},#{phoneNumber},#{grade})
    </insert>
    <!--데이터 수정-->
    <!--데이터 삭제-->





</mapper>