<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanuri.website.dao.MembershipMapper">
<!--회비납부내역 조회-->
    <select id="findAll" resultType="hanuri.website.dto.Membership">
        select
                mfp.membership_id as membershipId,
                mfp.member_id as memberId,
                mem.username as userName,
                mem.name as Name,
                mfp.payment_date as paymentDate,
                mfp.amount as amount,
                mfp.expiration_date as expirationDate
        from membershipfeepayment mfp
        join member mem on mfp.member_id = mem.member_id
    </select>
<!--회비납부내역 입력/-->
    <insert id="save" parameterType="hanuri.website.dto.Membership">
        insert into membershipfeepayment(member_id,payment_date,amount,expiration_date) values(#{memberId},#{paymentDate},#{amount},#{expirationDate});
    </insert>
<!--회비납부내역 입력 버튼-->
    <select id="findAllMembers" resultType="hanuri.website.domain.dto.Member">
        SELECT member_id AS memberId, username, name
        FROM MEMBER
    </select>
<!--    회비납부내역 수정-->
    <update id="modify" parameterType="hanuri.website.dto.Membership">
        update membershipfeepayment
        set payment_date = #{paymentDate},
            amount = #{amount},
            expiration_date= #{expirationDate}
        where membership_id = #{membershipId}
    </update>
<!--회비납부내역 삭제-->
    <delete id="delete" parameterType="hanuri.website.dto.Membership">
        delete from membershipfeepayment
        where membership_id = #{membershipId}
    </delete>
</mapper>