<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanuri.website.dao.MemberMapper">
    <!--데이터 전체 조회-->
    <select id="findAll" resultType="hanuri.website.domain.dto.Member">
        select * from member
    </select>
    <!--데이터 조회(Id)-->
    <select id="findByUserName" parameterType="string" resultType="hanuri.website.domain.dto.Member">
        select * from member where username = #{username} limit 1
    </select>
    <!--데이터 조회(Id)-->
    <select id="findById" parameterType="int" resultType="hanuri.website.domain.dto.Member">
        select * from member where member_id = #{memberId}
    </select>
    <!--데이터 입력-->
    <insert id="save" parameterType="hanuri.website.domain.dto.Member" useGeneratedKeys="true" keyProperty="memberId">
        insert into member(username,email,name,phone_number,password,gender,birthdate,student_id,enrollment_status)
        values(#{username},#{email},#{name},#{phoneNumber},#{password},#{gender},#{birthdate},#{studentId},#{enrollmentStatus})
    </insert>
    <!--데이터 수정-->
    <update id="modify" parameterType="hanuri.website.domain.dto.Member">
        update member
        set name = #{name},
            phone_number = #{phoneNumber},
            gender = #{gender},
            birthdate = #{birthdate},
            student_id = #{studentId},
            enrollment_status = #{enrollmentStatus}
        where member_id = #{memberId}
    </update>

</mapper>