<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hanuri.website.dao.StudyHistoryMapper">
    <insert id="save" parameterType="hanuri.website.model.StudyHistory">
        INSERT INTO
                    STUDY_HISTORY (study_id, round, study_date, title, presenter, notes)
        VALUES
                    (#{studyId}, #{round}, #{studyDate}, #{title}, #{presenter}, #{notes})
    </insert>
    <select id="countRoundByStudyId" parameterType="int" resultType="int">
        SELECT
            COUNT(*)
        FROM
            STUDY_HISTORY
        WHERE
            STUDY_ID = #{studyId}
    </select>
    <select id="findLastRoundByStudyId" parameterType="int" resultType="int">
        SELECT
            MAX(ROUND) AS ROUND
        FROM
            STUDY_HISTORY
        WHERE
            STUDY_ID = #{studyId}
    </select>
    <select id="findAllByStudyId" parameterType="int" resultType="hanuri.website.dto.history.FindAllByStudyIdResponse">
        SELECT
            S.title AS study_title,
            SH.round AS round,
            SH.study_date AS study_date,
            SH.title AS study_history_title
        FROM
            STUDY AS S
        JOIN
            STUDY_HISTORY AS SH
        ON
            S.study_id = SH.study_id
        WHERE
            SH.study_id = #{studyId}
    </select>
</mapper>