<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanuri.website.dao.StudyMapper">
    <!--데이터 전체 조회-->
    <select id="studyListAll" resultType="hanuri.website.dto.Study">
        select * from study order by study_id desc
    </select>
    <!--데이터 일정 수 조회(이미지 추가)-->
    <select id="studyListLimited" parameterType="int" resultType="hanuri.website.dto.Study">
        select *
        from study
        order by study_id desc LIMIT #{limit}
    </select>
    <!--데이터 조회(Id)-->
    <select id="findById" parameterType="long" resultMap="studyAndImageMap">
        select *
        from study as s
        left join image as i on i.image_type = 'study'
                            and i.object_id = s.study_id
        where s.study_id = #{studyId}
    </select>
    <!--스터디(이미지 추가)-->
    <resultMap id="studyAndImageMap" type="hanuri.website.dto.Study">
        <id property="studyId" column="study_id" />
        <result property="subjectCode" column="subject_code" />
        <result property="title" column="title" />
        <result property="status" column="status" />
        <result property="schedule" column="schedule" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="establishedBy" column="established_by" />
        <result property="goal" column="goal" />
        <association property="imageDTO" javaType="hanuri.website.dto.image.ImageDTO">
            <id property="imageId" column="image_id"/>
            <result property="objectId" column="object_id"/>
            <result property="filePath" column="file_path"/>
            <result property="originalFileName" column="original_file_name"/>
            <result property="storeFileName" column="store_file_name"/>
            <result property="src" column="src"/>
        </association>
    </resultMap>
    <!--데이터 입력-->
    <insert id="save" parameterType="hanuri.website.dto.Study" useGeneratedKeys="true" keyProperty="studyId">
        insert into study(subject_code, title, status, schedule, goal, start_date, end_date, established_by)
        values(#{subjectCode}, #{title}, #{status}, #{schedule}, #{goal},#{startDate}, #{endDate}, #{establishedBy})
    </insert>
    <!--데이터 수정-->
    <update id="update" parameterType="hanuri.website.dto.Study">
        UPDATE study
        SET subject_code = #{subjectCode},
            title = #{title},
            status = #{status},
            schedule = #{schedule},
            goal = #{goal},
            start_date = #{startDate},
            end_date = #{endDate},
            established_by = #{establishedBy}
        WHERE study_id = #{studyId}
    </update>
    <!--데이터 삭제-->
    <delete id="delete" parameterType="long">
        delete from study WHERE study_id = #{studyId}
    </delete>
</mapper>