<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanuri.website.dao.SubjectMapper">

    <!-- resultMap 설정 -->
    <resultMap type="hanuri.website.dto.Subject" id="SubjectMap">
        <result property="subjectCode" column="subject_code"/>
        <result property="subjectName" column="subject_name"/>
        <result property="grade" column="grade"/>
        <result property="semester" column="semester"/>
        <result property="professor" column="professor"/>
        <result property="studyOpened" column="study_opened"/>
    </resultMap>

    <!-- 데이터 전체 조회 -->
    <select id="findAll" resultType="hanuri.website.dto.Subject" resultMap="SubjectMap">
        SELECT * FROM subject
    </select>

    <!-- 특정 과목 조회 (subject_code 기준) -->
    <select id="findByCode" parameterType="int" resultType="hanuri.website.dto.Subject" resultMap="SubjectMap">
        SELECT * FROM subject WHERE subject_code = #{subjectCode} LIMIT 1
    </select>

    <!-- 과목 입력 -->
    <insert id="save" parameterType="hanuri.website.dto.Subject" useGeneratedKeys="true" keyProperty="subjectCode">
        INSERT INTO subject(subject_name, grade, semester, professor, study_opened)
        VALUES(#{subjectName}, #{grade}, #{semester}, #{professor}, #{studyOpened})
    </insert>

    <!-- 과목 수정 -->
    <update id="update" parameterType="hanuri.website.dto.Subject">
        UPDATE subject
        SET subject_name = #{subjectName},
            grade = #{grade},
            semester = #{semester},
            professor = #{professor},
            study_opened = #{studyOpened}
        WHERE subject_code = #{subjectCode}
    </update>

    <!-- 과목 삭제 (subject_code 기준) -->
    <delete id="delete" parameterType="long">
        DELETE FROM subject WHERE subject_code = #{subjectCode}
    </delete>

</mapper>
